* {
  margin: 0;
  padding: 0;
}
body {
    background: #0DCF7C;
}
.contenedorGeneral {
  display: flex;
}
.cabecera{
  display: flex;
}
.barraNavegacion {
  display: flex;
  top: 20%;  
}
.imagenes {
  display: flex;
  justify-content: center;
  align-content: space-around;
}
img {
  width: 200px;
  height: 200px;
}
