body {
  margin: 0;
  padding: 0;
  background: #0DCF7C;
}
.contenedorGeneral {
  display: flex;
}
.cabecera{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #85E6EA;
}
.barraNavegacion {
  display: flex;
  padding: 30px;
}
a {
  display: flex;
  padding: 20px;
  margin-left: 80px;
}
.imagenes {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-content: space-around;
}
div {
  display: flex;
  justify-content: flex-end;
  padding: 1px;
}
img {
  width: 200px;
  height: 200px;
}
.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
button {
  display: flex;
}
.texto {
  display: flex;
  justify-content: flex-end;
}
p {
  margin: 5px;
}
